.google-btn {
    width: 100%;
    border: 1px solid #ddd;
    background: white;
    border-radius: 6px;
  
    cursor: pointer;
    font-weight: 600;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  
    padding: 6px 10px;
    font-size: 13px;
  
    transition: background 0.2s ease, transform 0.2s ease;
  }
  
  .google-btn:hover {
    background: #f5f5f5;
  }
  
  .google-btn:active {
    transform: scale(0.97);
  }
  
  /* ICON */
  .google-icon {
    width: 16px;
    height: 16px;
    display: block;
  }